services:
  server:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env.docker
    depends_on:
      - mongo
    networks:
      - blockvault-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - blockvault-network

volumes:
  mongo_data:

networks:
  blockvault-network:
    driver: bridge