name: BlockVault CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-client:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Client

    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'
        cache: 'npm'
        cache-dependency-path: './Client/package-lock.json'

    - name: Install Dependencies
      run: npm ci

    - name: Build Client
      run: npm run build

  build-server:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Server

    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'
        cache: 'npm'
        cache-dependency-path: './Server/package-lock.json'

    - name: Install Dependencies
      run: npm ci